body {
  width: 1000px;
  margin: 0 auto;
  font-family: Helvetica, Arial,sans-serif;
  font-size: 16px;
}

.footer{
	text-align: center;
}

.header {
	padding: 1em;
	text-align: center;
}

.container {
	text-align: center;
	width: 900px;
	float: left;
	padding: 1em;
}