.container{
	background: white;
}

#formsignup{
	text-align: center;
}

#request-signup{
	text-align: center;
}

#table1{
	margin: 0 auto;
}

body {
  width: 1000px;
  margin: 0 auto;
  font-family: Helvetica, Arial,sans-serif;
  font-size: 16px;
}